.delivery-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 10%;
  padding-bottom: 10%;
}

.delivery-container {
  position: relative;
  display: flex;
  width: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding-left: 2%;
  @media (max-width: 600px) {
    width: 95%;
  }
}

.x-div {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 2%;
  margin-top: 2%;
}
.x-div a {
  color: #000;
}
.left-div {
  text-align: center;
  width: 55%;
  padding: 4% 2%;
}
.right-div {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.right-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.address {
  border: 2px solid #67646a;
  border-radius: 20px;
  height: 35px;
  margin: 30% 0 10% 0;
  padding-left: 5%;
}

.delivery-search {
  display: flex;
  height: 30px;
  width: fit-content;
}

.delivery-container input {
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: small;
}
.delivery-search img {
  width: 15px;
}

.delivery-container h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
.location {
  display: flex;
  margin-left: 15%;
}

.delivery-container p {
  color: #381e72;
  margin-top: 30%;
  font-size: larger;
  font-weight: 500;
}

.error-address p {
  color: red;
  font-size: 0.7rem;
}

.valid-address p {
  color: green;
  font-size: 0.8rem;
}

.location a {
  color: #381e72 !important;
  margin-left: 2%;
  font-size: larger;
  font-weight: 500;
  text-decoration: none;
}
