@import url("https://fonts.googleapis.com/css2?family=Baumans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/* body {
  background-color: #6750a4;
  width: 1440px;
} */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  font-family: "Baumans", cursive;
  font-size: 64px;
  font-weight: 400;
  /* line-height: 76px; */
  margin-left: 156px;
  /* text-align: left; */
  color: white;
  margin-top: 60px;
}

/* button {
  height: 40px;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  margin-top: 76px;
  margin-right: 156px;
} */
