@import url("https://fonts.googleapis.com/css2?family=Baumans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2% 5%;
  z-index: 999;
  border-bottom: #888 1px solid;
}

.logo img {
  height: 40px;
}

.nav-divs {
  display: flex;
  align-items: center;
}

.home-nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 10px;
}

.home-nav-links a {
  text-decoration: none;
  font-weight: 700;
}

/* .nav-links a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
} */

.cart img {
  height: 30px;
}

.home-nav a {
  text-decoration: none;
  color: black;
}

.home-nav a:hover {
  color: #888;
}

/* style for first container div */

.first-div-container {
  display: flex;
  padding: 0 0 10% 20%;
  justify-content: space-between;
  margin-top: 10%;
}
@media screen and (max-width: 768px) {
  .first-div-container,
  .second-div-container {
    display: block;
  }
}

.first-div-left {
  width: 35%;
}

.first-div-left h3,
.second-div-container h3,
.third-div-container h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #000000;
  margin-bottom: 1.5rem;
}

.first-div-left p,
.second-div-container p {
  width: 100%;
  height: 150px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #000000;
}

.first-div-right {
  width: 50%;
}

.top-background {
  background-image: url("/public/images/homepage/top/top-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 7%;
}

/* @media (max-width: 600px) {
  .top-background{
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  } */

.top-image1 {
  width: 65%;
  position: relative;
}

.top-image2 {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 3%;
  margin-right: 3%;
}

.top-image3 {
  width: 15%;
  position: absolute;
  right: 0;
  margin-right: 10%;
  top: 12rem;
}

.top-image4 {
  width: 10%;
  position: absolute;
  left: 20.625rem;
  bottom: 1.5rem;
}

/* second div style */

.second-div-container {
  display: flex;
  padding: 3% 5% 3% 20%;
  justify-content: space-between;
  margin-bottom: 10%;
}

.second-div-left {
  background-image: url("/public/images/homepage/mid/mid-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35%;
}

.second-image1 {
  position: relative;
  left: 8rem;
  top: 5rem;
}

.second-div-right {
  width: 45%;
}

.third-div-container {
  padding: 3% 20%;
}

.third-div-container h3 {
  text-align: center;
}

.third-div-wrapper {
  display: flex;
  gap: 2%;
}

.third-card-wrapper {
  border: #67646a 1px solid;
  border-radius: 5px;
}

.third-div-wrapper .main-image {
  width: 100%;
}

.third-div-wrapper .img-h3 {
  display: flex;
  gap: 3%;
  margin: 3% 3%;
}

.forth-div-container {
  padding: 3% 20% 8%;
}

.forth-div-container h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  text-align: center;
  margin-bottom: 2%;
}
.forth-div-cards {
  display: flex;
}

h3 span {
  color: #381e72;
}

.card-wrap {
  border: 1px solid #67646a;
  padding: 4%;
}

.first-div-button {
  width: 50%;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  background-color: #381e72;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin-top: 2%;
}
